*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    height: 100vh;
    background: url(https://content2.rozetka.com.ua/goods/images/big/10913385.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: rgb(20, 20, 20);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 32px;
    color:aqua;
    transition: .3s linear;
}
.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}
.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;

}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color:aqua
}

.card-content span{
    bottom: 20px;
    color: white;
    font-weight: 500;
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    color:white;
    opacity: 1;
    bottom: 56px;
    transition: .3s linear .3s;
}

@media screen and (max-width:900px){
    .card{
        flex: 100%;
        max-width: 500px;
    }
    
}
.contact-link{
    color: aqua;
}
#footer {
    margin: 0 auto 50px;
    position: fixed;
    left: 590px; bottom: 0; 
    padding: 10px; 
    font-size: 25px;
}
.footer{
    color: aqua;
    opacity: 0.5;
}
